{% extends "movies/tables_base.html" %}

{%block page_main_title%}
<h1 class="mt-4">Directors</h1>
{%endblock page_main_title%}


{%block table_section%}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Director Table
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Wikidata ID</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Wikidata ID</th>
                </tr>
            </tfoot>
            <tbody>

                {% for director in directors %}
                <tr>
                    <td>{{director.id}}</td>
                    <td>{{director.name}}</td>
                    <td>{{director.wikidata_id}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
{%endblock table_section%}